@model Prectica_1.Models.Inmueble
@{
    ViewData["Title"] = "Nuevo Inmueble";
}
<div class="text-center">
    <h1 class="display-3">Nuevo Inmueble</h1>
</div>

<div class="container">
    <div class="col-md-6 mx-auto">
        <form asp-action="AltaNuevoInmueble" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tipoDebien" class="control-label">Tipo De Bien</label>
                <select asp-for="tipoDebien" class="form-control">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Terreno">Terreno</option>
                    <option value="Edificio">Edificio</option>
                    <option value="Apartamento">Apartamento</option>
                    <option value="Casa">Casa</option>
                    <option value="Fábrica">Fábrica</option>
                    <option value="Local">Local</option>
                    <option value="Mina">Mina</option>
                    <option value="Parcela">Parcela</option>
                </select>
                <span asp-validation-for="tipoDebien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoDeUso" class="control-label">tipo_de_uso</label>
                <select asp-for="tipoDeUso" class="form-control">
                    <option value="" disabled selected>Seleccione un uso de inmueble</option>
                    <option value="Residencial">Residencial</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Industrial">Industrial</option>
                    <option value="Educativo">Educativo</option>
                    <option value="Salud">Salud</option>
                    <option value="Recreacional">Recreacional</option>
                    <option value="Hotelero/Turístico">Hotelero/Turístico</option>
                    <option value="Religioso">Religioso</option>
                    <option value="Agrícola">Agrícola</option>
                    <option value="Gobierno/Administrativo">Gobierno/Administrativo</option>
                </select>
                <span asp-validation-for="tipoDeUso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label">Direccion</label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="condicion" class="control-label">condicion</label>
                <input asp-for="condicion" class="form-control" />
                <span asp-validation-for="condicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costo" class="control-label">costo</label>
                <input asp-for="costo" class="form-control" />
                <span asp-validation-for="costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambiente" class="control-label">Ambiente</label>
                <input asp-for="ambiente" class="form-control" />
                <span asp-validation-for="ambiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label">ESTADO</label>
                <select asp-for="estado" class="form-control">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="0">Libre</option>
                    <option value="1">Alquilado</option>
                    <option value="2">No Disponible</option>
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_propietario" class="control-label">Propietario</label>
                <select asp-for="id_propietario" class="form-control">
                    <option value="" disabled selected>Seleccione un propietario</option>
                    @if (ViewData["Propietario"] is List<Propietario> propietarios)
                    {
                        foreach (var propietario in propietarios)
                        {
                            <option value="@propietario.id_propietario">@propietario.apellido @propietario.nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="id_propietario" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <button type="submit " value="create" class="btn btn-primary btn-sm">Guardar</button>
                <a href="InmuebleIndex" class="btn btn-primary btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>
@*
<div class="form-group">
<label asp-for="id_propietario" class="control-label">Propietario</label>
<div class="input-group">
<input asp-for="id_propietario" class="form-control" readonly />
<span class="input-group-btn">
<button class="btn btn-default" type="button" onclick="buscarPropietario()">Buscar</button>
</span>
</div>
<span asp-validation-for="id_propietario" class="text-danger"></span>
</div>

<script>
function buscarPropietario() {
// Abre la ventana emergente
var ventana = window.open('@Url.Action("PropietarioMuestra", "Propietario")', '_blank', 'width=1000,height=600');

// Define una función que se ejecutará cuando se seleccione un propietario en la ventana emergente
ventana.seleccionarPropietario = function (idPropietario, nombrePropietario) {

// Establece el valor seleccionado en el campo id_propietario en la ventana principal
document.getElementById("id_propietario").value = idPropietario;
// Cierra la ventana emergente
ventana.close();
};
}
</script> *@
