@model Prectica_1.Models.Usuario;
@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceso</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
  <div class="text-center">
    <h1>Acceso Usuario</h1>
  </div>
  <div class="row mt-5">
    <div class="col-sm-4 offset-sm-4">
      <form asp-controller="Usuario" asp-action="Login" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" asp-for="Clave">
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>
    </div>
  </div>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>